{% extends "base.html" %}

{% block title %}
แก้ไขข้อมูลหนังสือ
{% endblock %}

{% block content %}
<style>
    .form-container {
        max-width: 600px;
        margin: auto;
    }

    .card {
        background: #fff;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-weight: bold;
    }

    .form-label {
        font-weight: bold;
    }

    
    .btn-dark:hover {
        background-color: #818081;
        border-color: #818081;
    }

    
    .btn-danger:hover {
        background-color: #e77070;
        border-color: #e77070;
    }
</style>

<div class="container form-container mt-5">
    <div class="card shadow-lg">
        <h2 class="text-center mb-4">แก้ไขข้อมูลหนังสือ</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">ชื่อหนังสือ</label>
                <input type="text" name="name" id="name" class="form-control" value="{{ form.instance.name }}">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">หมวดหมู่</label>
                <input type="text" name="category" id="category" class="form-control" value="{{ form.instance.category }}">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">ราคา</label>
                <input type="number" name="price" id="price" class="form-control" value="{{ form.instance.price }}">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">สถานะ</label>
                <select name="status" id="status" class="form-control">
                    <option value="onrent" {% if form.instance.status == "onrent" %}selected{% endif %}>ติดเช่า</option>
                    <option value="free" {% if form.instance.status == "free" %}selected{% endif %}>ว่างให้เช่า</option>
                </select>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-dark px-4">บันทึกการเปลี่ยนแปลง</button>
                <a href="{% url 'index' %}" class="btn btn-danger px-4">ยกเลิก</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
